<!DOCTYPE html>
<html>
<head>
    <title>Client</title>
    <script src="../../static/js/socket.io.js"></script>
</head>
<body>
    <h1>Client</h1>
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date">
    <br>
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date">
    <br>
    <label for="city">City:</label>
    <select id="city">
        {% for city in cities %}
        <option value="{{ city }}">{{ city }}</option>
        {% endfor %}
        <!-- Add more cities as options here -->
    </select>
    <br>
    <label for="travel_type">Travel Type:</label>
    <select id="travel_type">
        <option value="all inclusive">All inclusive</option>
        <option value="semi inclusive">Semi inclusive</option>
        <option value='only "transport and hotel\"'>Only transport and hotel</option>
    </select>
    <br>
    <button id="get_quotation">Get Quotation</button>
    <h2 id="get_description"></h2>
    <div id="kiwi_price"></div>
    <div id="skyscanner_price"></div>
    <div id="booking_price"></div>

    <script>
        var socket = io.connect('http://localhost:5005');

        socket.on('booking_update', function(data) {
            var price_div = document.getElementById('get_description');
            console.log(data)
            // Update the quotation price on the page
            price_div.innerHTML = 'Welcome to ' + data['location'] + ': <br> ' + data['description'];
        });

        socket.on('kiwi_update', function(data) {
            var price_div = document.getElementById('kiwi_price');
            console.log(data)
            // Update the quotation price on the page
            price_div.innerHTML = 'Kiwi: Trip to ' + data['location'] + ': ' + data['price'];
        });

         socket.on('skyscanner_update', function(data) {
            var price_div = document.getElementById('skyscanner_price');
            console.log(data)
            // Update the quotation price on the page
            price_div.innerHTML = 'Skyscanner: Trip to ' + data['location'] + ': ' + data['price'];
        });

        socket.on('booking_update', function(data) {
            var price_div = document.getElementById('booking_price');
            console.log(data)
            // Update the quotation price on the page
            price_div.innerHTML = 'Booking: Trip to ' + data['location'] + ': ' + data['price'];
        });

        // Send a request to the broker for a quotation from the Auldfella's Quotation Service
        document.getElementById('get_quotation').onclick = function() {
            var start_date = document.getElementById('start_date').value;
            var end_date = document.getElementById('end_date').value;
            var city = document.getElementById('city').value;
            var travel_type = document.getElementById('travel_type').value;

            var data = {
                'start_date': start_date,
                'end_date': end_date,
                'city': city,
                'travel_type': travel_type
            };

            socket.emit('get_input',data);
        };
    </script>
</body>
</html>